/*Page CSS*/
@font-face{
    font-family: 'Open Sans', sans-serif;

}
h1,h2,h3,h4,h5,h6,p,li{
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
*, html, header {
    margin: 0;
}
nav, img {
    display: block;
}
body{
    background-color: #575757;
    color: white;
    font-size: 120%;
}
.clear {
    clear: both;
}

/*========= Nav Bar ==========*/

#header {
    background-color: #575757;
}
#logo{
    display: block;
    float: left;
    top: 0;
    padding-right: .5%;
    width: 5.55%;
    margin: 0;
    background-color: #3C3F41;
}
.navlogo {
    width: 100%;
    box-sizing: content-box;
}
#navulist{
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
}
#navulist li{
    display: inline;
    list-style-type: none;
    color: #C35801;
    width: 24.1%;
    float: left;
}
#topnav a:hover{
    background-color: #313335;
}
#topnav a{
    display: block;
    text-align: center;
    line-height: 1;
    padding: 1.15em 2em 1.2em 2em;
    background-color: #3C3F41;
    color: white;
    border-bottom: 0;
}
#audio{

}
#about h4{
    font-size: 120%;
}
#about{
    display: block;
}
#footer{
    text-align: center;
    padding-top: 10%;
    font-size: 60%;
}
.title {
    text-align: center;
}
#about .title {
    padding-top: 2%;
    padding-bottom: 2%;
}
